body {
    font-family: Arial, sans-serif;
    background: url('../images/krew2.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    color: red;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    color: #fff;
    margin-left: 20px;
}

.nav-item a, .nav-item {
    color: #fff;
    text-decoration: none;
}

.nav-item .btn {
    padding: 8px 16px;
    border-radius: 4px;
    color: red;
    text-decoration: none;
}

.btn-primary {
    background-color: #fff;
    color: #fff;
}

.btn-danger {
    background-color: #fff;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 70px);
    margin-top: 100px; /* Dodaj margines górny na przesunięcie poniżej top bar */
}

.history-container {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top:50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: red;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background: #B60A05;
    color: white;
}

.btn-success {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #45a049;
}

.btn-edit {
    display: block;
    width: 90%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-documents {
    display: block;
    width: 90%;
    padding: 10px 20px;
    background-color: #3498db; /* Blue color for documents button */
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-documents:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
.content{
    display: flex;
    height: 60vh;
    gap: 10px;
    margin: 50px 10px 0 10px;

}
.pane-left, .pane-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
}
.pane-left{
    background-color: lightblue;
}
.pane-right{
    background-color: lightcoral;
}
.exp-bar{
    display: block;
}
.exp-progress{
    width: 100%;
    border-collapse: collapse;
}
.exp-progress td{
    border: 1px solid red;
}
.exp-container{
    display: block;
    width: 90%;
    text-align: center;
}
.reservation-container{
    display: block;
    width: 90%;
    text-align: center;
}
.exp-progress td{
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
.reservation-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}
.reservation-button:hover{
    background-color: lightblue;
}