body {
    font-family: Arial, sans-serif;
    background: url('../images/krew2.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px; /* Adds spacing between the sections */
}

.profile-section {
    margin-bottom: 20px;

}
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ustawienie przycisków w jednym rzędzie */
}

.nav-item {
    margin-right: 10px; /* Odstęp między przyciskami */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: red;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background: #B60A05;
    color: white;
}

.btn-success {
    display: block; /* Ustawienie jako element blokowy */
    width: 100%; /* Szerokość 100% kontenera */
    padding: 10px; /* Wewnętrzny padding */
    background-color: #4CAF50; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Brak obramowania */
    border-radius: 4px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmień kursor na wskaźnik */
    transition: background-color 0.3s; /* Płynne przejście tła */
}

/* Efekt po najechaniu myszką */
.btn-success:hover {
    background-color: #45a049; /* Zmiana koloru tła po najechaniu */
}

.btn-edit {
    display: block;
    width: 90%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-documents {
    display: block;
    width: 90%;
    padding: 10px 20px;
    background-color: #3498db; /* Blue color for documents button */
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}
.btn-documents:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

.logo {
    width: 100px;
    height: 100px;

    margin-right: 1500px;

}
