{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hem Hero</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'images/logo1.png' %}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="nav-container">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    <li class="nav-item">Zalogowano jako: {{ user.username }}</li>
                    <li class="nav-item"><a href="/profile" class="btn btn-danger">Profil</a></li>
                    <li class="nav-item"><a href="/signout" class="btn btn-primary">Wyloguj</a></li>
                {% else %}
                    <li class="nav-item"><a href="/signin" class="btn btn-primary">Logowanie</a></li>
                    <li class="nav-item"><a href="/signup" class="btn btn-primary">Rejestracja</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="content">
        <div class="pane-left">
            <div class="exp-container">
                <span class="exp-bar">Current Level: {{current_level}}</span>
                {% if current_level == 10 %}
                    You've reached max level!
                    <span class="exp-bar">Experience: {{profile.exp}}</span>
                    <table class="exp-progress">
                        <tbody>
                        <tr>
                            <td style="width: 100%; background-color: green;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                <span class="exp-bar">Experience: {{profile.exp}}</span>
                <table class="exp-progress">
                    <tbody>
                    <tr>
                        <td style="width: {{progress}}%; background-color: green;">&nbsp;</td>
                        <td style="width: {{progress_2}}%; background-color: red;">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                You need {{experience_missing}} more to reach next level!
                {% endif %}
            </div>
        </div>
        <div class="pane-right">
            <div class="reservation-container">
            {% if reservations %}
                <span class="exp-bar">Last reservation:</span>
                <span class="exp-bar">{{last_reservation}}</span>
                <span class="exp-bar">Click to check reservations history</span>
                <span class="exp-bar"><a class="history-button" href="{% url 'reservation_history_user' %}">History</a></span>
                {% if can_reserve %}
                    <span class="exp-bar">Click to add new reservation</span>
                    <span class="exp-bar"><a class="reservation-button" href="{% url 'make_reservation ' %}"></a></span>
                {% else %}
                    <span class="exp-bar">You can't make new reservation yet.</span>
                {% endif %}
            {% else %}
            <span class="exp-bar">No reservations in history</span>
            <span class="exp-bar">Click to add new reservation.</span>
                <span class="exp-bar"><a class="reservation-button" href="{% url 'make_reservation' %}">New reservation</a></span>
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>
