{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Donor Profiles</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/signin">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Blood Donor Profiles</h1>
        <ul>
            {% for user, profile in user_profiles %}
                <li class="profile">
                    <p><strong>Username:</strong> {{ user.id}}</p>
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    {% if profile %}
                        <p><strong>Blood Group:</strong> {{ profile.blood_group }}</p>
                        <p><strong>Birthday:</strong> {{ profile.birthday }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
