{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'images/logo1.png' %}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="nav-container">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    <li class="nav-item">Zalogowano jako: {{ user.username }}</li>
                    <li class="nav-item"><a href="/profile" class="btn btn-danger">Profil</a></li>
                    <li class="nav-item"><a href="/signout" class="btn btn-primary">Wyloguj</a></li>
                {% else %}
                    <li class="nav-item"><a href="/signin" class="btn btn-primary">Logowanie</a></li>
                    <li class="nav-item"><a href="/signup" class="btn btn-primary">Rejestracja</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="form-container">
            <h1>Profil użytkownika</h1>
            <p><strong>Imię:</strong> {{ user.first_name }}</p>
            <p><strong>Nazwisko:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if profile %}
                <p><strong>Grupa krwi:</strong> {{ profile.blood_group }}</p>
                <p><strong>Data urodzenia:</strong> {{ profile.birthday }}</p>
                <p><strong>Rola:</strong> {{ profile.role }}</p>
                <p><strong>Level:</strong> {{ profile.exp }}</p>
            {% else %}
                <p>Brak dodatkowych informacji o profilu.</p>
            {% endif %}
            <a href="/edit_profile" class="btn-edit">Edytuj dane</a>
        </div>
            <a href="/documents" class="btn-documents">Dokumenty</a>
    </div>
</body>
</html>
