{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>


<div class="top-right">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    <li class="nav-item">Hi {{ user.username }}</li>
                    <li class="nav-item"><a href="/signout" class="btn btn-danger">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="/signin" class="btn btn-primary">Login</a></li>
                    <li class="nav-item"><a href="/signup" class="btn btn-success">Signup</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="container">
    <div class="form-container">
            <h2>Rejestracja</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Zarejestruj</button>
            </form>
        </div>
    </div>
</body>
</html>
